<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
     tabindex="-1" th:id="'deleteHabitModal' + *{getId()}"
     class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <h4 class="modal-title">Do you really want to delete this habit?</h4>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default"
                        type="button">Cancel
                </button>
                <button class="btn btn-danger" type="submit" th:id="'deleteBtn' + *{getId()}"
                        onclick="deleteById(this, '/habits/delete')">Delete</button>
            </div>
        </div>
    </div>
</div>
