<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head}"></div>
<body>
<section id="container">
    <div th:replace="~{fragments/header}"></div>
    <div th:replace="~{fragments/sidebar}"></div>

    <!-- MAIN CONTENT -->
    <section id="main-content">
        <section class="wrapper">
            <form class="form-add-habit" th:action="@{/habits/add}" th:method="post"
                  th:object="${habitAddModel}">
                <h2 class="form-add-habit-heading">Add Habit</h2>
                <div class="add-habit-wrap container-fluid">
                    <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('title')} ? 'has-error'">
                        <legend for="title">Title</legend>
                        <input type="text" class="form-control" placeholder="Title" name="title" id="title"
                               th:value="*{getTitle()}" autofocus>
                        <div class="help-block has-error" th:if="${#fields.hasErrors('title')}"
                             th:each="error : ${#fields.errors('title')}" th:text="${error}">
                        </div>
                    </div>
                    <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('frequency')} ? 'has-error'">
                        <legend>Frequency</legend>
                        <div class="radio" th:each="frequency: ${frequencies}">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="frequency" name="frequency"
                                       th:value="${frequency}"
                                       th:text="${frequency}"
                                       th:checked="${habitAddModel.getFrequency() == frequency}">
                            </label>
                        </div>
                        <div class="help-block has-error" th:if="${#fields.hasErrors('frequency')}"
                             th:each="error : ${#fields.errors('frequency')}" th:text="${error}">
                        </div>
                    </div>
                    <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('startDate')} ? 'has-error'">
                        <legend for="startDate">Start Date</legend>
                        <input type="date" class="form-control" id="startDate" name="startDate"
                               th:value="${#temporals.format(#temporals.createToday(), 'yyyy-MM-dd')}"
                               th:min="${#temporals.format(#temporals.createToday(), 'yyyy-MM-dd')}"
                               onchange="setEndDateMin(this.value)">
                        <div class="help-block has-error" th:if="${#fields.hasErrors('startDate')}"
                             th:each="error : ${#fields.errors('startDate')}" th:text="${error}"
                             id="startDateHelpBlock">
                        </div>
                    </div>
                    <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('endDate')} ? 'has-error'">
                        <legend for="endDate">End Date</legend>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" th:checked="${habitAddModel.getEndDate() != null}"
                                       id="endDateCheckBox" onchange="showEndDateField()">Set End Date?</label>
                        </div>
                        <input type="date" class="form-control hide" id="endDate" name="endDate"
                               th:min="${#temporals.format(#temporals.createToday(), 'yyyy-MM-dd')}"
                               th:value="${#temporals.format(habitAddModel.getEndDate(), 'yyyy-MM-dd')}">
                        <div class="help-block has-error" th:if="${#fields.hasErrors('endDate')}"
                             th:each="error : ${#fields.errors('endDate')}" th:text="${error}" id="endDateHelpBlock">
                        </div>
                    </div>
                    <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('priority')} ? 'has-error'">
                        <legend>Priority</legend>
                        <div class="radio" th:each="priority: ${priorities}">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="priority" name="priority"
                                       th:value="${priority}"
                                       th:text="${priority}"
                                       th:checked="${habitAddModel.getPriority() == priority}">
                            </label>
                        </div>
                        <div class="help-block has-error" th:if="${#fields.hasErrors('priority')}"
                             th:each="error : ${#fields.errors('priority')}" th:text="${error}">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-theme btn-block" type="submit"><i class="fas fa-plus"></i> ADD</button>
                    </div>
                </div>
            </form>
        </section>
    </section>
</section>
<div th:replace="~{fragments/footer}"></div>
<div th:replace="~{fragments/scripts}"></div>
</body>
</html>
