<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="~{fragments/head}"></div>
<body>
<section id="container">
    <div th:replace="~{fragments/header}"></div>
    <div th:replace="~{fragments/sidebar}"></div>

    <!-- MAIN CONTENT -->
    <div id="edit-page">
        <div class="container">
            <form class="form-add-habit" th:action="@{/habits/edit/{id}(id = ${habitEditModel.getId()})}" th:method="post"
                  th:object="${habitEditModel}">
                <h2 class="form-add-habit-heading">Edit Habit</h2>
                <div class="add-habit-wrap container-fluid">
                    <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('title')} ? 'has-error'">
                        <legend for="title">Title</legend>
                        <input type="text" class="form-control" placeholder="Title" name="title" id="title"
                               th:value="*{getTitle()}" autofocus>
                        <div class="help-block has-error" th:if="${#fields.hasErrors('title')}"
                             th:each="error : ${#fields.errors('title')}" th:text="${error}">
                        </div>
                    </div>
                    <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('frequency')} ? 'has-error'">
                        <legend>Frequency</legend>
                        <fieldset class="form-check" th:each="frequency: ${frequencies}">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="frequency" name="frequency"
                                       th:value="${frequency}"
                                       th:text="${frequency}"
                                       th:checked="${habitEditModel.getFrequency() == frequency}">
                            </label>
                        </fieldset>
                        <div class="help-block has-error" th:if="${#fields.hasErrors('frequency')}"
                             th:each="error : ${#fields.errors('frequency')}" th:text="${error}" id="startDateHelpBlock">
                        </div>
                    </div>
                    <div class="form-group col-md-12" >
                        <legend for="startDate">Start Date</legend>
                        <input type="date" class="form-control" id="startDate"
                               th:value="${#temporals.format(startDate, 'yyyy-MM-dd')}" disabled>
                    </div>
                    <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('endDate')} ? 'has-error'">
                        <legend for="endDate">End Date</legend>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" th:checked="${habitEditModel.getEndDate() != null}"
                                     id="endDateCheckBox" onchange="showEndDateField()">Set End Date?</label>
                        </div>
                        <input type="date" class="form-control hide" id="endDate" name="endDate"
                               th:min="${#temporals.format(startDate, 'yyyy-MM-dd')}"
                               th:value="${#temporals.format(habitEditModel.getEndDate(), 'yyyy-MM-dd')}">
                        <div class="help-block has-error" th:if="${#fields.hasErrors('endDate')}"
                             th:each="error : ${#fields.errors('endDate')}" th:text="${error}">
                        </div>
                    </div>
                    <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('priority')} ? 'has-error'">
                        <legend>Priority</legend>
                        <fieldset class="form-check" th:each="priority: ${priorities}">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="priority" name="priority"
                                       th:value="${priority}"
                                       th:text="${priority}"
                                       th:checked="${habitEditModel.getPriority() == priority}">
                            </label>
                        </fieldset>
                        <div class="help-block has-error" th:if="${#fields.hasErrors('priority')}"
                             th:each="error : ${#fields.errors('priority')}" th:text="${error}">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-theme btn-block" type="submit"><i class="fas fa-pencil-alt"></i> EDIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div th:replace="~{fragments/footer}"></div>
<div th:replace="~{fragments/scripts}"></div>
</body>
</html>
