<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head}"></div>
<body>
<section id="container">
    <div th:replace="~{fragments/header}"></div>
    <div th:replace="~{fragments/sidebar}"></div>
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fas fa-angle-right"></i><span th:text="${' ' + habitViewModel.getTitle()}"></span></h3>
            <div class="tab-pane" id="chartjs">
                <div class="row mt">
                    <div class="col-lg-6">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Last 10 Days</h4>
                            <div class="panel-body text-center" id="line-chart-panel">
                                <canvas id="line" height="300" width="400"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" th:object="${habitViewModel}">
                        <div class="content-panel">
                            <ul>
                                <li>
                                    <h4><i class="fas fa-bookmark"></i> Title: <span th:text="*{getTitle()}"></span>
                                    </h4>
                                </li>
                                <li>
                                    <h4><i class="fas fa-bolt"></i> Streak: <span th:text="*{getStreak()}"></span></h4>
                                </li>
                                <li>
                                    <h4><i class="fa fa-calendar-plus"></i> Next Due Date:
                                        <th:block th:switch="${habitViewModel.getNextDueDate() == null}">
                                            <span th:case="${false}"
                                                  th:text="${#temporals.format(habitViewModel.getNextDueDate(), 'dd-MM-yyyy')}"></span>
                                            <span th:case="${true}">Habit completed</span>
                                        </th:block>
                                    </h4>
                                </li>
                                <li>
                                    <h4><i class="fas fa-clock"></i> Frequency: <span
                                            th:text="${#strings.capitalize(habitViewModel.getFrequency())}"></span>
                                    </h4>
                                </li>
                                <li>
                                    <h4><i class="fa fa-bullhorn"></i> Priority: <span
                                            th:text="*{getPriority()}"></span>
                                    </h4>
                                </li>
                                <li>
                                    <h4><i class="fa fa-calendar-alt"></i> Start Date: <span
                                            th:text="${#temporals.format(habitViewModel.getStartDate(), 'dd-MM-yyyy')}"></span>
                                    </h4>
                                </li>
                                <li>
                                    <h4><i class="fa fa-calendar-check"></i> End Date:
                                        <th:block th:switch="${habitViewModel.getEndDate() == null}">
                                        <span th:case="${false}"
                                              th:text="${#temporals.format(habitViewModel.getEndDate(), 'dd-MM-yyyy')}"></span>
                                            <span th:case="${true}">No end date specified</span>
                                        </th:block>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                        <p>
                            <th:block th:if="${habitCompleted == null}">
                                <form method="post" th:action="@{/habits/renew/{id}(id = *{getId()})}">
                                    <div th:replace="~{fragments/modals/habit-completed}"></div>
                                </form>
                            </th:block>
                        <div th:if="${habitViewModel.getNextDueDate() == null}">
                            <form method="post" th:action="@{/habits/renew/{id}(id = *{getId()})}">
                                <div data-toggle="modal" th:href="'#renewHabitModal' + *{getId()}"
                                     class="btn btn btn-theme btn-lg btn-block">Renew Activity
                                </div>
                                <div th:replace="~{fragments/modals/renew-habit}"></div>
                            </form>
                        </div>
                        <div th:if="${habitViewModel.getNextDueDate() != null}">
                            <form method="post" th:action="@{/activities/add/{id}(id = *{getId()})}">
                                <div data-toggle="modal" th:href="'#addActivityModal' + *{getId()}"
                                     class="btn btn btn-theme btn-lg btn-block">Add Activity
                                </div>
                                <div th:replace="~{fragments/modals/add-activity}"></div>
                            </form>
                        </div>
                        </p>
                        <p>
                            <a type="button" class="btn btn-primary btn-lg btn-block"
                               th:href="@{/habits/edit/{id}(id = *{getId()})}">Edit Habit</a>
                        </p>
                        <p>
                            <a type="button" class="btn btn-danger btn-lg btn-block"
                               data-toggle="modal"
                               th:href="'#deleteHabitModal' + ${habitViewModel.getId()}">Delete Habit</a>
                        <div th:replace="~{fragments/modals/delete-habit}"></div>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<div th:replace="~{fragments/footer}"></div>
<div th:replace="~{fragments/scripts}"></div>
</body>
<script src="/assets/js/Chart.js"></script>
<script src="/assets/js/chartjs-conf.js"></script>
<script th:inline="javascript">
    seedData([[${habitViewModel.getId()}]]);
    $(function(){
        habitCompleted([[${habitCompleted == true}]]);
    });
</script>
</html>
