<header class="header black-bg" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="sidebar-toggle-box" sec:authorize="isAuthenticated()">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <a href="/" class="logo"><b>HABIT TRACKER</b></a>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            <li sec:authorize="isAuthenticated()"><a class="nav-button" href="/habits/add">Add Habit</a></li>
            <li sec:authorize="isAnonymous()"><a class="nav-button" href="/users/register">Register</a></li>
            <li sec:authorize="isAnonymous()"><a class="nav-button" href="/users/login">Login</a></li>
            <li sec:authorize="isAuthenticated()"><a class="nav-button" href="/users/logout">Logout</a></li>
        </ul>
    </div>
</header>
