<aside xmlns:sec="http://www.thymeleaf.org/extras/spring-security" sec:authorize="isAuthenticated()">
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="/users/profile"><img src="/assets/img/logo.png" class="img-circle" width="60"></a></p>
            <a href="/users/profile"><h5 class="centered" sec:authentication="name"></h5></a>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
