<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head}"></div>
<div th:replace="~{fragments/scripts}"></div>

<body>
<section id="container">
    <div th:replace="~{fragments/header}"></div>
    <div th:replace="~{fragments/sidebar}"></div>
    <section id="main-content">
        <section class="wrapper">
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-striped table-advance table-hover">
                            <h4><i class="fas fa-angle-right"></i> Registered Users</h4>
                            <hr>
                            <thead>
                            <tr>
                                <th><i class="fas fa-hashtag"></i></th>
                                <th><i class="fas fa-user"></i> Username</th>
                                <th><i class="fas fa-at"></i> Email</th>
                                <th><i class="fas fa-id-card"></i> Full Name</th>
                                <th><i class="fas fa-shield-alt"></i> Privileges</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:object="${user}" th:each="user, iter: ${usersPageModel.getUsers()}">
                                <th th:text="${(page * T(com.elena.habitTracker.util.ApplicationConstants).DEFAULT_VIEWS_COUNT_PER_PAGE) + iter.index + 1}"></th>
                                <td th:text="*{getUsername()}"></td>
                                <td th:text="*{getEmail()}"></td>
                                <td th:text="${#strings.concat(user.getFirstName(),' ', user.getLastName())}"></td>
                                <td th:text="${#strings.setJoin(#strings.setCapitalizeWords(user.getAuthorities()), ', ')}"></td>
                                <td>
                                    <a class="btn btn-info btn-xs"
                                       th:href="@{/users/view/{id}(id = *{getId()})}"><i
                                            class="fas fa-search"></i></a>
                                    <a class="btn btn-primary btn-xs"
                                       th:href="@{/users/edit/{id}(id = *{getId()})}"><i
                                            class="fas fa-pencil-alt"></i></a>
                                    <a class="btn btn-danger btn-xs" data-toggle="modal"
                                       th:href="'#deleteUserModal' + *{getId()}">
                                        <i class="fas fa-trash-alt"></i></a>
                                    <div th:replace="~{fragments/modals/delete-user}"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="container">
                            <a class="btn btn-md col-md-2 btn-theme pull-left" th:if="${(page - 1) >= 0}"
                               th:href="@{/users/all(page=${page - 1})}">
                                <i class="fas fa-angle-left"></i> Previous</a>
                            <a class="btn btn-md col-md-2 btn-theme pull-right"
                               th:if="${(page + 1) < usersPageModel.getTotalPagesCount()}"
                               th:href="@{/users/all(page=${page + 1})}">
                                Next <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div><!-- /content-panel -->
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
        </section>
        <!--/wrapper -->
    </section><!-- /MAIN CONTENT -->
</section>
<div th:replace="~{fragments/footer}"></div>
<div th:replace="~{fragments/scripts}"></div>
</body>
</html>
