<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<div th:replace="~{fragments/head}"></div>
<body>
<section id="container">
    <div th:replace="~{fragments/header}"></div>

    <!-- MAIN CONTENT -->
    <div id="login-page">
        <div class="container">
            <form class="form-login" th:action="@{/users/login}" th:method="post" th:object="${userLoginModel}">
                <h2 class="form-login-heading">log in</h2>
                <div class="login-wrap container-fluid">
                    <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('username')} ? 'has-error'">
                        <input type="text" class="form-control" placeholder="Username" name="username" id="username"
                               th:value="*{getUsername()}" autofocus>
                        <div class="help-block has-error" th:if="${#fields.hasErrors('username')}"
                             th:each="error : ${#fields.errors('username')}" th:text="${error}">
                        </div>
                    </div>
                    <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                        <input type="password" class="form-control" placeholder="Password" name="password"
                               th:value="*{getPassword()}" id="password">
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-theme btn-block" type="submit"><i class="fas fa-arrow-circle-right"></i>
                            SIGN IN
                        </button>
                    </div>
                    <div class="registration">Don't have an account yet?
                        <br/>
                        <a class="" th:href="@{/users/register}">Create an account</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div th:replace="~{fragments/footer}"></div>
<div th:replace="~{fragments/scripts}"></div>
</body>
</html>
