<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- HeatMap -->
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css"/>
<div th:replace="~{fragments/scripts}"></div>
<script src="/assets/js/cal-heatmap-conf.js"></script>

<div th:replace="~{fragments/head}"></div>
<body>
<section id="container">
    <div th:replace="~{fragments/header}"></div>
    <div th:replace="~{fragments/sidebar}"></div>
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fas fa-angle-right"></i> My Statistics</h3>
            <div class="tab-pane" id="chartjs">
                <div class="row mt">
                    <div class="col-lg-1 btn-col">
                        <a class="btn btn-md col-md-15 btn-theme pull-left"
                           th:if="${page > 0}"
                           th:href="@{/users/{id}/statistics(id=${habitsPageModel.getHabits().getContent().get(0).getUserId()}, page=${page - 1})}">
                            <i class="fas fa-angle-left"></i> Previous</a>
                    </div>
                    <div class="col-lg-9 statistics-col" th:each="habitViewModel: ${habitsPageModel.getHabits()}">
                        <div class="content-panel centered">
                            <h2>
                                <a th:href="@{/habits/view/{id}(id = ${habitViewModel.getId()})}">
                                    <span th:text="${habitViewModel.getTitle()}"></span>
                                </a>
                            </h2>
                            <div class="panel-body text-center" th:id="${habitViewModel.getTitle()}">
                                <script th:inline="javascript">
                                    seedHeatmapData([[${habitViewModel.getTitle()}]], [[${habitViewModel.getId()}]]);
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 btn-col">
                        <a class="btn btn-md col-md-15 btn-theme pull-right"
                           th:if="${(page + 1) < habitsPageModel.getTotalPagesCount()}"
                           th:href="@{/users/{id}/statistics(id=${habitsPageModel.getHabits().getContent().get(0).getUserId()}, page=${page + 1})}">
                            Next <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="row mt"  sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="col-lg-1 btn-col"></div>
                    <div class="col-lg-9 statistics-col">
                        <div class="showback centered">
                            <div class="btn-group btn-group-justified">
                                <a class="btn btn-theme"
                                   th:href="@{/habits/all/{id}(id=${habitsPageModel.getHabits().getContent().get(0).getUserId()})}">
                                    <i class="fas fa-puzzle-piece"></i> Habits</a>
                                <a class="btn btn-theme"
                                   th:href="@{/activities/all/{id}(id=${habitsPageModel.getHabits().getContent().get(0).getUserId()})}">
                                    <i class="fas fa-chart-bar"></i> Activity Log</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 btn-col"></div>
                </div>
            </div>
        </section>
    </section>
</section>
<div th:replace="~{fragments/footer}"></div>
<div th:replace="~{fragments/scripts}"></div>
</body>
</html>
