<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
>
<div th:replace="~{fragments/head}"></div>
<body>
<section id="container">
    <div th:replace="~{fragments/header}"></div>
    <div th:replace="~{fragments/sidebar}"></div>
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fas fa-angle-right"></i> Activities Due Today</h3>
            <div class="row mt">
                <div class="col-md-4 col-sm-4 mb" th:object="${habitViewModel}" th:each="habitViewModel: ${habitViews}">
                    <form method="post" th:action="@{/activities/add/{id}(id = *{getId()})}">
                        <div class="white-panel pn">
                            <div class="white-header"
                                 th:classappend="${#strings.toLowerCase(habitViewModel.getPriority()) + '-priority'}">
                                <h4><i class="fas fa-trophy"></i><span th:text="' ' + *{getStreak()} + '  •'"></span>
                                    <span th:text="'  ' +  *{getTitle()}"></span></h4>
                            </div>
                            <img src="/assets/img/tack.jpg" id="tack-img">
                            <div data-toggle="modal" th:href="'#addActivityModal' + *{getId()}"
                                 class="habit-icon-large"
                                 th:classappend="${#strings.toLowerCase(habitViewModel.getPriority()) + '-priority'}">
                                <i class="fas fa-check fa-10x"></i></div>

                            <div th:replace="~{fragments/modals/add-activity}"></div>
                        </div>
                    </form>
                </div><!--/grey-panel -->
            </div><!-- /col-md-4-->
            </div><!-- /row -->
            <div th:replace="~{fragments/modals/no-activities}"></div>
        </section>
        <!--/wrapper -->
    </section><!-- /MAIN CONTENT -->
</section>
<div th:replace="~{fragments/footer}"></div>
<div th:replace="~{fragments/scripts}"></div>
</body>
<script th:inline="javascript">
    $(function () {
        noActivities([[${habitViews}]]);
    });
</script>
</html>
